.inline-message {
    display: inline-block;
    width: 200px;
}
.pass-label{
    width: 150px;
    font-size: 13px;
}
.modiUser_table{
    border-collapse: collapse;
    border-style: hidden;
    font-size: 14px;
}
.td{
    background-color: #EEF1F8 !important;
}
.modiBox{
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 1px grey;
    overflow: hidden;
}
.passInput {
    border-width: 1px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.2);
}
